/* Write your code here: */
h1{
    color: purple;
}
h2{
    color: purple;
}

.box p {
    color: red;
}

.box .list li{
    color: blue;
}

.box .list .done{
    color: green;
}

ul .done {
    font-size: larger;

}